body {
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  text-align: left;
  font-size: 410%;
}

p {
  font-size: 170%;
  color: gray;
  line-height: 1.8;
}

.customBlock {
  margin-top: 10%;
}

.customBlock p{
  font-size: 100%;
}

.footerStuff p{
  font-size: 100%;
  font-family: 'Times New Roman', Times, serif;
}

table {
  margin-left: auto;
  margin-right: auto;

}
.container img {
  width: 100%;
  height: auto;
}

li {
  color: gray;
}

.customList li{
  color: white;
}